nav {
  margin-bottom: 120px;
}

nav #app-name {
  flex: initial;
  width: 200px;
}

nav #app-name > p {
  margin: 0;
}

nav #menu {
  flex: auto;
}

.tenor-gif-embed {
  max-width: 780px;
  margin: auto;
}

#main-carousel {
  margin-bottom: 80px;
}
/* 
.carousel-control-next {
  right: -100px;
}

.carousel-control-prev {
  left: -100px;
} */

.card {
  max-width: 1100px;
  height: 500px;
}